/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  background-image: var(--background-header-image);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

}

.header {
  height: 100vh;
  padding: 20px 0px;
  min-height: 668px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  margin-bottom: 60px;
}

.right_top_corner {
  position: absolute;
  top: 20px;
  right: 0px;
  width: 25px;
  aspect-ratio: 1/1;
  border: var(--border-weight) var(--border-type) var(--corners-color);
  border-bottom: none;
  border-left: none;
}

.left_bottom_corner {
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 25px;
  aspect-ratio: 1/1;
  border: var(--border-weight) var(--border-type) var(--corners-color);
  border-top: none;
  border-right: none;
}

.header__theme-menu {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr min-content;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  box-sizing: border-box;
  background-color: inherit;
  color: var(--button-color);
  padding: 0.5px 13px;
  padding-bottom: 5px;
  border: none;
  font-family: var(--font-family), sans-serif;
  font-size: var(--font-smal-size);
  cursor: pointer;
  text-align: center;
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-s);

}

.header__theme-menu-button_active {
  border: var(--border-weight) var(--border-type) var(--border-button-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--borders-outline-color);
}

.header__theme-menu-button:focus {
  border: 1px solid var(--border-button-color);
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

.header_rec {
  position: absolute;
  color: var(--rec-decoration-color);
  font-weight: var(--font-weight-normal);
  right: 10px;
  top: 21px;
  align-items: center;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap; 
}

.header_rec::after {
  content: '';
  width: 9px;
  height: 9px;
  background-color: var(--rec-decoration-color);
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 3px var(--shadow-color);
}

.header_heading {
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-heading-size-laptop-desctop);
  color: var(--header-footer-text-color);
  text-shadow: 4px 4px 0px  var(--shadow-color);
  justify-self: flex-start;
  transform: translateX(-20px);
  line-height: 130px;
}

.header_text {
  margin-left: auto;
  background: var(--background-text-color); 
  color: var(--block-heading-text-color);
  font-weight: var(--font-weight-bold); 
  max-width: 50% ;
  text-align: start;
  align-self: center;
}

.main {
  display: flex;
  flex-direction: column;
}

.page_why_so_hard {
  display: flex;
  gap: 11px;
  align-items: start;
  margin-bottom: 81px;
}

.page_why_so_hard_heading {
  max-inline-size: calc(1/3 * 100% - 6px);
  color: var(--article-heading-font-color);
  font-weight: var(--font-weight-bold);

}

.why_so_hard_info_box {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 20px;
}

.text_block {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
  flex: 1;
}

.heading {
  color: var(--article-heading-font-color);
  font-weight: var(--font-weight-bold);
}

.text_heading {
  background-color: var(--background-text-color);
  color: var(--block-heading-text-color);
}

.info_box_heading {
  color: var(--block-heading-text-color);
  font-weight: var(--font-weight-bold);
  background-color: var(--background-text-color);
}

.last_page_heading {
  color: var(--block-heading-text-color);
}

.decreased_concentration_box {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-bottom: 77px;
}

.decreased_concentration_box_heading {
  max-width: calc(1/3 * 100%);
}

.decreased_concentration_info_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  flex-wrap: wrap;
}

.concentrate_better_box {
  display: flex;
  flex-direction: row;
  margin-top: 3px;
  gap: 12px;
  margin-bottom: 82px;
}

.concentrate_better_heading {
  flex: 1;
}

.concentrate_better_info_box {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 20px;
}

.image_page {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
}

.text_shadow {
  text-shadow: 2px 2px 0px var(--shadow-color);
  text-decoration: none;
}

.text_shadow:hover {
  box-shadow: inset 0 -1px 0 0  var(--default-text-color);
}

.text_shadow:focus {
  outline: 1px solid var(--default-text-color);
}

.last_page_heading {
  width: 100%;
  background-color: var(--background-text-color);
}

.grid_image_box {
  display: grid;
  grid-template-columns: repeat(minmax(min-content, max-content));
  grid-template-rows: repeat(minmax(min-content, max-content));
  gap: var(--medium-gap);
}

.footer {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  padding: 20px 0px;
}

.page_text {
  line-height: var(--line-height-m);
}

.image_box {
  line-height: 0;
}

.first_image_box {
  grid-area: 1 / 1 / 2 / 3;

}

.second_image_box {
  grid-area: 1 / 3 / 3 / 4;
}

.third_image_box {
  grid-area: 2 / 1 / 4 / 2;
}

.fourth_image_box{
  grid-area: 2 / 2 / 3 / 3;
}

.fifth_image_box {
  grid-area: 3 / 2 / 4 / 4;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  height: 100vh;
  min-height: 668px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.footer_heading {
  font-weight: var(--font-weight-bold);
  color: var(--header-footer-text-color);
  text-shadow: 4px 4px 0px  var(--shadow-color);
}

@media (1024px <= width) {

  .header__theme-menu-list {
    justify-content: center;
  }

  .header_heading {
    font-size:var(--font-heading-size-laptop-desctop);
  }

  .footer_heading {
    font-size:var(--font-heading-size-laptop-desctop);
  }
}

@media (768px <= width < 1024px) {

  .header__theme-menu {
    grid-template-rows: auto, 1fr;
    grid-template-areas: 
    'corner'
    'buttons';
  }

  .header__theme-menu-list {
    grid-area: buttons;
    flex-direction: column;
    margin-left: auto;
  }

  .right_top_corner_header {
    grid-area: corner;
    margin-left: auto;
  }

  .header_heading {
    font-size:var(--font-heading-size-laptop-desctop);
    line-height: 97px;
  }

  
  .page_why_so_hard {
    gap: 19px;
  }

  .concentrate_better_box {
    gap: 20px;
    margin-bottom: 79px
  }

  .concentrate_better_info_box {
    gap: 21px;
  }

  .decreased_concentration_box_heading {
    max-width: 236px;
  }

  .decreased_concentration_info_box {
    grid-template-columns: none;
    grid-template-rows: auto;
  }

  .footer_heading {
    font-size:var(--font-heading-size-laptop-desctop);
  }
}

@media (width < 768px) {

  .page {
    padding: 0px 10px;
  }

  .header {
    padding: 10px 0px;
    margin-bottom: 40px;
  }

  .header__theme-menu {
    grid-template-rows: min-content, 1fr;
    grid-template-areas: 
    'corner'
    'buttons';
  }

  .header__theme-menu-list {
    flex-direction: column;
    margin-left: auto;
    grid-area: buttons;
    transform: translateX(0);
  }

  .header_rec {
    top: 11px;
  }

  .header_heading {
    font-size:var(--font-heading-size-mobile);
    transform: translateX(0);
    align-self: center;
    justify-self: center;
    transform: translateY(0);
    line-height: 95.7px;
  }


  .header_text {
    max-width: 100%;
    justify-self: flex-start;
  }

  .page_why_so_hard {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 52px;
  }

  .page_why_so_hard_heading {
    max-inline-size: 100%;
  }

  .why_so_hard_info_box {
    max-width: 100%;
  }

  .decreased_concentration_box{
    margin-bottom: 48px;
  }

  .decreased_concentration_box_heading {
    max-width: 100%;
  }

  .decreased_concentration_info_box {
    grid-template-columns: none;
    grid-template-rows: auto;
  }

  .concentrate_better_box {
    flex-direction: column;
    gap: 22px;
    margin-bottom: 53px;
  }

  .image_page {
    gap: 10px;
  }

  .grid_image_box {
    grid-template-columns: 1fr; 
    grid-template-rows: none; 
    grid-auto-rows: auto; 
    gap: 10px;
  }

  .first_image_box,
  .second_image_box,
  .third_image_box,
  .fourth_image_box,
  .fifth_image_box {
    grid-area: auto; 
  }

  .footer {
    padding: 10px 0px;
    margin-top: 40px;
  }

  .footer_heading {
    font-size:var(--font-heading-size-mobile);
  }

  .right_top_corner {
    top: 10px;
  }
  
  .left_bottom_corner {
    bottom: 10px;
  }
}
